* {
    margin: 0;
    padding: 0;
}
body {
    padding: 15px; 
    background:#eee; 
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    width: 100vw;
    height: 20vh;
    border: brown solid 2px;
    background-color: cadetblue;
}

div p {
    font-size: 0.93em;
}

p strong {
    font-size: 1.07em;
}

.container {
    width: 1200px;
    font-size: 14px;
    border: chartreuse solid 2px;
    display: flex;
    margin: 10px auto;
}

.caixaA { 
    width: 20.83%;
    border: solid 1px #666; 
    padding: 5px 10px;  
    font-size: 2em;
    border: rgb(0, 255, 255) solid 2px;
    background-color: chocolate;
} 

.caixaB { 
    width: 66.66%;
    margin: 0px 3.125%;
    border: solid 1px #666; 
    padding: 5px 3.125%; 
    font-size: 2em;
    border: rgb(183, 0, 255) solid 2px;
    background-color: rgb(162, 210, 30);
} 

.caixaC { 
    width: 12.51%;
    border: solid 1px #666; 
    padding: 5px 10px;  
    font-size: 2em;
    border: rgb(58, 121, 126) solid 2px;
    background-color: rgb(210, 30, 171);
} 

.area-visivel span { 
    color: #666; 
    display: none; 
} 

/* max-width */ 
@media screen and (max-width: 900px) { 
    .container { 
        padding: 20px;
        width: 95%;
        flex-wrap: wrap;
    }
    .caixaA {
        width: 40%;
        float: left;
    }

    .caixaB {
        width: 50.3%;
        margin: 0px;
        float: right;
    } 

    .caixaC {
        width: 100%;
    } 
} 

/* max device width */ 
@media screen and (max-width: 450px) { 
    .caixaA {
        width: 100%;
    }

    .caixaB {
        width: 100%;
    } 

    .caixaC {
        width: 100%;
    } 

    body {
        font-size: 1.3em;
    }
} 